.textInput {
  display: block;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0.6rem;
  background: var(--backgroundDark);
  color: var(--bone);
  font-size: 1rem;
  height: 1rem;
  border-radius: 4px;
}
.textInput--white {
  background: var(--bone);
  color: var(--backgroundDark);
}
textarea.textInput {
  min-width: calc(100% - 1.2rem);
  max-width: calc(100% - 1.2rem);
}
input.textInput {
  width: clamp(15ch, calc(66% - 2rem), 32ch);
  display: inline-block;
}
.formText {
  display: flex;
  align-items: center;
  height: 1rem;
  width: 100%;
  margin: 0;
  padding: 0.6rem 0;
}
.formText + .formText {
  padding-top: 0;
}
.inputButton {
  position: relative;
  height: 2.2rem;
}
.inputButton .textInput {
  position: relative;
  vertical-align: top;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.inputButton .button {
  position: relative;
  bottom: 0.4rem;
  right: 5px;
}
/*
.panel input.textInput,
.panel input.nexto {
  border-radius: 1.1rem;
}
*/
.textInput--error {
  border-bottom: 2px solid var(--alertRed);
  padding-bottom: calc(0.6rem - 2px);
}
.inpat {
  position: relative;
  display: flex;
  align-items: center;
  width: clamp(15ch, calc(66% - 2rem), 32ch);
  margin-bottom: 1rem !important;
}
.inpat * {
  transition-duration: 0.2s;
}
.inpat__input--invalid {
  border-bottom-color: darkred !important;
}
.inpat__input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  padding-bottom: calc(1rem - 1px);
  border-bottom: 1px solid var(--bone);
  background: var(--backgroundDark);
  color: var(--bone);
  font-size: 1rem;
  height: 1rem;
  border-radius: 0;
}
.inpat__input:hover,
.inpat__input:focus {
  background: var(--accentDark);
}
.inpat__input:hover + .inpat__label {
  color: var(--bone);
}
.inpat__label {
  position: absolute;
  top: calc(50% - 0.6rem);
  left: 1rem;
  cursor: text;
  color: var(--headerDark);
}
.inpat__input:focus + .inpat__label,
.inpat__input:valid + .inpat__label {
  top: 2px;
  font-size: 0.6rem;
  color: var(--bone);
}
.inpat__trailIcon {
  position: absolute;
  right: 0;
}
.inpat__input--error {
  border-color: var(--alertRed);
}
.inpat__input--valid {
  border-color: lime;
}
