:root {
  --newDark: rgb(232, 232, 232);

  --insanelyDark: rgb(22, 22, 22);
  --backgroundDark: #202124; /*   body   */
  --stillRealDark: rgb(33, 33, 33); /*   #app > div   */
  --headerDark: #35363a; /*   Header, Sidenav   */
  --accentDark: rgba(255, 255, 255, 0.1);
  --bone: white;

  --textDark: rgb(170, 170, 170);

  --action1: hsl(340, 100%, 30%);
  --action0: hsl(200, 100%, 30%);

  --action1: #0e3746;
  --action0: #be2623;

  --action0: #ef4b4c;
  --action1: #3d619b;

  --action0: hsl(180, 90%, 30%);
  --action1: rgb(15, 39, 65);

  --action0: rgb(124, 195, 5);
  --action0: #410f27;

  --alertRed: #be2623;
  --action0: rgb(107, 6, 38);
}
.textInput:focus {
  outline: 2px solid hsl(270, 100%, 60%);
}
.noselect,
.header,
.header > *,
.button,
.formText,
table tr th,
.timetable__timeslot {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
html,
body {
  background: var(--backgroundDark);
  color: var(--bone);

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
textarea.textInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  top: 4.5rem;
  margin: auto;
  width: 90%;
  max-width: 400px;
  position: relative;
}
.alert {
  color: var(--alertRed);
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}
a.pageLink {
  text-decoration: none;
  display: block;
}
.copyrightNotice {
  text-align: center;
  color: var(--accentDark);
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 1rem;
}
.scheduleCard--expired {
  color: var(--accentDark);
}
