.todoItem {
  padding-left: 1rem;
  height: 3rem;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--accentDark);
}
.todoItem--done,
.todoItem--done .button {
  text-decoration: line-through;
  color: var(--accentDark);
}
.todoItem .button {
  margin-left: auto !important;
  position: relative !important;
}
